@media only screen and (max-width : 1000px){
    body{
        background-color:#d62828;
        /* justify-content: center;
        padding-left:30% ;
        padding-top:45%;  */
        
    }
    .contenido-load{
        width: 100%;
        height: 100%;  
        justify-content: center; 
    }

    h1 {
        text-align: center;
        font-family: 'robotto',#0f5381;
        font-size: 60px;
        padding-top:45%;
    }

    .loader {
        border: 10px solid #f3f3f3; 
        border-top: 10px solid #0f5381;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 2s linear infinite; 
        text-align: center;
    } 

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}